body {
    text-align: center;
    background: #fff;
}

button {
    outline: none !important;
    background: transparent;
}

.main {
    display: flex;
    width: 660px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
    justify-content: space-between;
    padding: 100px 130px 33px 95px;
    margin: 40px auto;
    box-shadow: 0px 15px 17px 0.17px rgba(0, 0, 0, 0.05);
}

.left {
    width: 316px;

}

.right {
    margin-top: 30px;
    width: 290px;
}

.form-txt {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
    font-weight: bold;
}

.email,
.name,
.pass,
.phone {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input {
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border: 1px solid white;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.rounddiv {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87, 184, 70, 0.8);
}

.emaildiv {
    font-size: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    color: #666666;
    pointer-events: none;
}

.register {
    margin-top: 20px;
    padding: 15px 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    border-radius: 25px;
    background: #57b846;
    border: 1px solid #57b846;
}
.register:hover {
    background: #333333;
    border: 1px solid #333333;
}

.agree-term {
    display: inline-block;
    width: auto;
}

.label-agree-term {
    position: relative;
    top: 0%;
    transform: translateY(0);
}

.term-service {
    font-size: 13px;
    color: #222;
}



.txt1 {
    font-family: 'Poppins';
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
    text-decoration: none;
    font-weight: bold;
}

.txt2 {
    font-family: 'Poppins';
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
    text-decoration: none;
    font-weight: bold;
}

.account {
    text-align: center;
    padding-top: 70px;
}

